<nav class="navbar animate-navbar">
  <div class="navbar-logo">
    <%= link_to root_path do %>
    <%= image_tag "doctor", alt: "Home", size: "40x40" %>
    <% end %>
  </div>
  <a href="" class="navbar-icon-bar">
    <span></span>
    <span></span>
    <span></span>
  </a>
  <ul class="navbar-menu animate">
    <li class="navbar-menu-item"><a href="#">My lists</a></li>
    <li class="navbar-menu-item">
    <li class="navbar-menu-item"><a href="#">My lists</a></li>
    </li>
  </ul>
</nav>
