<nav class="navbar animate-navbar">
  <div class="navbar-logo">
    <%= link_to root_path do %>
    <%= image_tag "doctor.png", alt: "Home", size: "40x40" %>
    <% end %>
  </div>
  <a href="" class="navbar-icon-bar">
    <span></span>
    <span></span>
    <span></span>
  </a>
  <ul class="navbar-menu animate">
     <% if params[:controller] == 'companies' && %w(index).include?(params[:action])%>
    <li class="navbar-menu-item"><%= link_to 'Add new doctor', new_company_path %></li>
  <% end %>
  </ul>
</nav>
