// Define variables for your color scheme
$white: rgba(255, 255, 255, 1);
$primary: rgba(33, 64, 228, 1);
$secondary: rgba(74, 56, 219, 1);
$extra: rgba(72, 218, 252, 1);
$text: rgba(81, 87, 106, 1);
