.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), asset-url('banner_home');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  h1 {
    color: $white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 6rem;
    font-family: $headers-font;
  }

  p {
    color: $white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-family: $body-font;
  }
}
