.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  a {
    color: $white;
  }
}

.card-img-top {
  // width: 300px;
  // height: 300px;
}

.weekdays_list {
list-style-type: none;
padding: 0px;
}

.hours_list {
  display: flex;
  justify-content: space-between;
}
