.visually-hidden {
  display: none;
}

.btn-form {

  color: $white;
  display: block;
  padding: 10px;
  text-decoration: none;
  background-color: rgba(72, 218, 252, 0.5);
  border-radius: 5px;

  &:hover {
    background-color: $extra;
    color: $white;
  }
}

.schedule-editor {

  th {
    padding: 10px;
  }

  td {
    padding: 10px;
  }
}

@media (max-width: 767px) {

.form-check {
  display: flex;
}

.form-check-label {
  margin-left: 10px;
}
}
