.navbar {
  background: $white;
  position: fixed;
  z-index: 100;
  width: 100%;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

.animate {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.animate-navbar {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar-logo {
  float: left;
  display: block;
  margin: 15px 0px 0px 15px;
  text-decoration: none;
}

.navbar-icon-bar {
  float: right;
  padding: 20px;
  display: none;
  position: relative;
  margin: 10px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    height: 1px;
    width: 25px;
    position: absolute;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
}

.navbar-icon-bar {
  span:nth-child(1) {
    top: 10px;
  }

  span:nth-child(2) {
    top: 20px;
  }

  span:nth-child(3) {
    top: 30px;
  }
}

.navbar-icon-bar.open {
  span:nth-child(1) {
    top: 18px;
    background: $secondary;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  span:nth-child(2) {
    background: $secondary;
    opacity: 0;
    left: -60px;
  }

  span:nth-child(3) {
    background: $secondary;
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

}

.navbar-menu {
  float: right;
  margin: 0;
  padding: 0;
}

.navbar-menu-item {
  display: inline-block;

  a {
    color: $primary;
    display: block;
    padding: 20px;
    text-decoration: none;
  }

  a:hover {
    color: $primary;
    font-weight: 700;
  }
}

@media (max-width: 767px) {
  .navbar {
    position: fixed;
    z-index: 100;
    width: 100%;
  }

  .navbar-icon-bar {
    display: block;

    span {
      background: $primary;
    }

  }

  .navbar-menu {
    width: 100%;
    height: 0px;
    overflow: hidden;
  }

  .navbar-menu-item {
    display: block;
  }


  .navbar-menu.open {
    height: 100vh;
    overflow: auto;
  }
}
